  <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Contest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,,user-scalable=no">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.js"></script>
  <link href="css/index.css" rel="stylesheet">
    <link href="css/contest.css" rel="stylesheet">
  </head>
  <body>
    <header class="m-nav">
      <div class="m-nav-topbar">
        <section class="m-nav-topbar_left">
          <span class="m-nav-topbar_title">Leetcode</span>
          <div class="m-nav-topbar_left-scroller">
            <a href="/problemSet">题库</a>
            <a href="/contest">Contest</a>
            <a href="">Explore</a>
            <a href="">About</a>
          </div>
        </section>
        <section class="m-nav-topbar_right">
          <div class="m-nav-topbar_right-user">
            <img class="user-image"></img>
          </div>
          <div class="m-nav-topbar_right-login">
            <input type="button" class="m-btn" name="signIn" value="Sign in">
          </div>
        </section>
      </div>
    </header>
    <div class="bgpic">
      <div class="container">
        <div class="site-logo">
          <img src="img/Cup.png" alt="">
        </div>
        <div class="site-title">
          <h1><span>ZLCode&nbsp</span>Contest</h1>
        </div>
        <div class="site-detail">
          <p>Contest every week. Compete and see your ranking!</p>
        </div>
      </div>
    </div>
    <div class="contest-body container">
      <div class="contest-cards row">
        <div class="contest-cards-box col-sm-7 col-6">
          <span class="contest-intro">Join this 1 hour 30 minutes contest</span>
          <span class="contest-title">Weekly Contest 193</span>
          <span class="contest-schedual">Jun 14, 2020 @ 10:30 AM - 12:00 PM</span>
          <span class="contest-addto"><img src="img/calendar.svg" alt="">Add to Calendar</span>
          <span class="contest-footer"><img src="img/time.svg" alt="">Starts in 5 d 8 h 30 m 56 s</span>
        </div>
        <div class="contest-cards-box col-sm-5 col-6">
          <span class="contest-intro">Join this 1 hour 30 minutes contest</span>
          <span class="contest-title">Biweekly Contest 28</span>
          <span class="contest-schedual">Jun 13, 2020 @ 10:30 PM - 12:00 AM</span>
          <span class="contest-addto"><img src="img/calendar1.svg" alt="">Add to Calendar</span>
          <span class="contest-footer"><img src="img/time1.svg" alt="">Starts in 5 d 8 h 30 m 56 s</span>
        </div>
      </div>
      <div class="contest-rank row">
        <div class="contest-rank-global col-sm-5">
          <span class="contest-rank-title">Global Ranking</span>
          <ul>
            <li>
              <span class="rank-num">1</span>
              <img src="img/IMG_0244.JPG" alt="" class="rank-userimg">
              <span class="rank-username">barbing</span>
              <img src="img/china.svg" alt="" class="rank-userflag">
            </li>
            <li>
              <span class="rank-num">1</span>
              <img src="img/IMG_0244.JPG" alt="" class="rank-userimg">
              <span class="rank-username">barbing</span>
              <img src="img/china.svg" alt="" class="rank-userflag">
            </li>
            <li>
              <span class="rank-num">1</span>
              <img src="img/IMG_0244.JPG" alt="" class="rank-userimg">
              <span class="rank-username">barbing</span>
              <img src="img/china.svg" alt="" class="rank-userflag">
            </li>
            <li>
              <span class="rank-num">1</span>
              <img src="img/IMG_0244.JPG" alt="" class="rank-userimg">
              <span class="rank-username">barbing</span>
              <img src="img/china.svg" alt="" class="rank-userflag">
            </li>
            <a href="">View More...</a>
          </ul>
        </div>
        <div class="contest-rank-list col-sm-7">
          
        </div>
      </div>
    </div>
  </body>
</html>