<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>user_center</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,,user-scalable=no">
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.js"></script>
  <link href="css/index.css" rel="stylesheet">
  <link href="css/user_center.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/Problem_common.css">
</head>
<body>
<div class="bars-container">
  <div class="bars-line">
    <div class="bars">
      <ul class="barList">
        <a href="/">
          <span class="barListItem" style="font-weight: bolder">ZLCODE</span>
        </a>
        <a href="/problemSet">
          <li class="barListItem">题库</li>
        </a>
        <a href="/contest">
          <li class="barListItem">测试</li>
        </a>
      </ul>
      <div class="barList">
        <div class="dropdown barListItem">
          <button type="button" class="m-btn-head dropdown-toggle" data-toggle="dropdown" id="language" value="1">
            中
          </button>
          <div class="dropdown-menu m-menu">
            <a class="dropdown-item m-d-item" onclick="changeLanguage(1)">题目以中文显示</a>
            <a class="dropdown-item m-d-item" onclick="changeLanguage(2)">题目以英文显示</a>
          </div>
        </div>
        <div class=" barListItem" id="login">

        </div>
        <script>
            let uid = getCookie("uid");
            if (uid !== "1") {
                $("#login").append("<a href='/login'>登录</a>");
            } else {
                $("#login").append("<img src=\"img/1.png\" alt=\"\" id=\"headImg\" class=\"head-link\">")
            }
        </script>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <section class="m-profile container-fluid">
    <div class="row">
      <div class="m-profile-left col-sm-5 col-md-4">
        <div class="m-profile-panel">
          <div class="panel-heading">
            <span>Basic profile</span>
            <a href="" class="panel-btn">Edit Profile</a>
          </div>
          <div class="panel-body margint">
            <img src="img/IMG_0244.JPG" alt="">
            <div class="user">
              <h5 class="realname">ZFXG</h5>
              <span class="username">barbing</span>
              <span class="ranking">
                    <img src="img/star.svg" alt="">
                    <img src="img/star.svg" alt="">
                    <img src="img/star.svg" alt="">
                    <img src="img/star.svg" alt="">
                    <img src="img/star.svg" alt="">
                  </span>
              <span class="social">
                    <img src="img/QQ.svg" alt="">
                    <img src="img/Wechat.svg" alt="">
                    <img src="img/github.svg" alt="">
                    <img src="img/csdn.svg" alt="">
                  </span>
            </div>
          </div>
        </div>
        <div class="m-profile-panel">
          <div class="panel-heading">
            <span>Contest</span>
          </div>
          <div class="panel-body">
            <ul>
              <li>
                <span><img src="img/trophy.svg" alt="">Finished Contests</span>
                <span>0</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="m-profile-panel">
          <div class="panel-heading">
            <span>Progress</span>
          </div>
          <div class="panel-body">
            <ul>
              <li>
                <span><img src="img/questionmark.svg" alt="">Solved Question</span>
                <span>0 / 1500</span>
              </li>
              <li>
                <span><img src="img/wheel.svg" alt="">Accepted Submission</span>
                <span>0 / 0</span>
              </li>
              <li>
                <span><img src="img/tick.svg" alt="">Acceptance Rate</span>
                <span>0 %</span>
              </li>
              <svg height="300px" width="100%" class="nvd3-svg" style="height: 350px; width: 100%;">
                <g class="nvd3 nv-wrap nv-pieChart" transform="translate(0,30)">
                  <g>
                    <g class="nv-legendWrap nvd3-svg" transform="translate(0,-30)">
                      <g class="nvd3 nv-legend" transform="translate(-10,10)">
                        <g transform="translate(183.955078125,10)">
                          <g class="nv-series" transform="translate(0,5)">
                            <circle class="nv-legend-symbol" r="5"
                                    style="stroke-width: 2; fill: rgb(52, 168, 83); fill-opacity: 1; stroke: rgb(52, 168, 83);"></circle>
                            <text text-anchor="start" class="nv-legend-text" dy=".32em" dx="8" fill="#000">Accepted
                            </text>
                          </g>
                          <g class="nv-series" transform="translate(82.033203125,5)">
                            <circle class="nv-legend-symbol" r="5"
                                    style="stroke-width: 2; fill: rgb(234, 67, 53); fill-opacity: 1; stroke: rgb(234, 67, 53);"></circle>
                            <text text-anchor="start" class="nv-legend-text" dy=".32em" dx="8" fill="#000">Other</text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </ul>
          </div>
        </div>
        <div class="m-profile-panel">
          <div class="panel-heading">
            <span>Contribution</span>
          </div>
          <div class="panel-body">
            <ul>
              <li>
                <span><img src="img/gift.svg" alt="">Points</span>
                <span>20</span>
              </li>
              <li>
                <span><img src="img/problem.svg" alt="">Problems</span>
                <span>0</span>
              </li>
              <li>
                <span><img src="img/gift.svg" alt="">Test Cases</span>
                <span>0</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="m-profile-right col-sm-7 col-md-8">
        <div class="m-profile-panel">
          <div class="panel-heading">
            <span>0 submission in the last year</span>
          </div>
          <div class="panel-body">
            <svg width="630" height="150">

            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>